*{
    margin: 0;
    padding: 0;
}

body{
    background: #3465a4;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app{
    width: 1000px;
    height: 500px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 90%;
    grid-template-areas: "paint cube"
                          "canvas canvas";
    gap:10px;

}


.paint{
    grid-area: paint;
}

.cube{
    grid-area: cube;
}

.btn{
    background: #3498db;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: none;
}


.btn:hover {
    background: #3cb0fd;
  }

canvas{
        grid-area: canvas;
    border-radius: 50px;
background: linear-gradient(145deg, #2f5b94, #386caf);
box-shadow:  20px 20px 60px #2c568b,
             -20px -20px 60px #3c74bd;
}